name: update-dotnet-sdk

on:
  push:
    branches: [ master ]
  schedule:
    - cron:  '*/15 * * * *'

jobs:
  build:
    name: Update .NET SDK
    runs-on: windows-latest

    steps:

    - name: Checkout code
      uses: actions/checkout@v2

    - name: Update .NET SDK
      shell: pwsh
      run: ./update-dotnet-sdk.ps1 -GitHubToken ${{ secrets.GITHUB_TOKEN }} -Channel "3.1" -UserName "martincostello" -UserEmail "martin@martincostello.com"
